.about-us {
    margin-top: 9rem;
    margin-bottom: 9rem;
}

.section-title {
    margin: 0 auto;
    text-align: center;
}

.section-title::after {
    content: '';
    width: 6rem;
    height: 3px;
    display: block;
    background-color: var(--color-primary);
    margin: 4rem auto 0 auto;
}

.section-title--sub {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.4rem;
    color: var(--color-black);
    display: block;
    margin-bottom: 10px;
}

.section-title--main {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-black);
    display: block;
}

.section-intro {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    width: 70%;
    margin: 5rem auto 10rem auto;
}

.about-us__photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 28rem; */
    grid-template-rows: minmax(15rem, 28rem);
    column-gap: 3rem;
    row-gap: 3rem;
}


/* mobile */
@media only screen and (max-width: 480px) {
    .about-us__photos {
        grid-template-columns: 1fr;
    }
}

.photo-box {
    width: 100%;
    height: 100%;
    position: relative;
}

.about-us__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.about-us__photo--hover1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-image: linear-gradient(to bottom, 
                    rgba(243, 129, 129, .8), 
                    rgba(252, 227, 138, .8)), 
                    url("../img/story-1.jpg");
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
}

.about-us__photo--hover1 div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.about-us__photo--hover1 i {
    width: 6rem;
    height: 2rem;
    color: white;
    margin-bottom: 2rem;
}

.about-us__photo--hover1 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: white;
}

.photo-box:hover .about-us__photo--hover1 {
    opacity: 1;
}

.about-us__photo--hover2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-image: linear-gradient(to bottom, 
                    rgba(243, 129, 129, .8), 
                    rgba(252, 227, 138, .8)), 
                    url("../img/story-2.jpg");
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
}

.about-us__photo--hover2 div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.about-us__photo--hover2 i {
    width: 6rem;
    height: 2rem;
    color: white;
    margin-bottom: 2rem;
}

.about-us__photo--hover2 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: white;
}

.photo-box:hover .about-us__photo--hover2 {
    opacity: 1;
}

.about-us__photo--hover3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-image: linear-gradient(to bottom, 
                    rgba(243, 129, 129, .8), 
                    rgba(252, 227, 138, .8)), 
                    url("../img/story-3.jpg");
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
}

.about-us__photo--hover3 div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.about-us__photo--hover3 i {
    width: 6rem;
    height: 2rem;
    color: white;
    margin-bottom: 2rem;
}

.about-us__photo--hover3 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: white;
}

.photo-box:hover .about-us__photo--hover3 {
    opacity: 1;
}