.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, 
                    rgba(243, 129, 129, .8), 
                    rgba(252, 227, 138, .8)), 
                    url("../img/header.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr [content-start] minmax(min-content, 120rem)  [content-end] 1fr;
}



.header__menu {
    grid-column-start: content-start;
    display: flex;
    justify-content: space-between;
}

.header__menu .logo {
    font-size: 3rem;
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 2.8rem;
    display: inline-block;
}

.nav-icon {
    display: none;
    color: white;
    margin-top: 4rem;
    font-size: 2rem;
}

.header__menu .nav .menu {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: "Monserrat", sans-serif;
    margin-top: 4rem;
}

.header__menu .nav .menu li {
    display: inline-block;
}

.header__menu .nav .menu li:not(:last-child) {
    margin-right: 5.5rem;
}

.header__menu .nav .menu .nav__link, 
.header__menu .nav .menu .nav__link:link{
    text-decoration: none;
    color: white;
}

.header__menu .nav .menu .nav__link:hover, 
.header__menu .nav .menu .nav__link:active,
.header__menu .nav .menu .nav__link--active{
    color: var(--color-primary-light);
    border-bottom: 3px solid var(--color-primary-light);
    padding-bottom: 1.2rem;
}

.header__content {
    grid-column-start: content-start;
    position: relative;
}

.content__text {
    width: 40%;
    height: auto;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content__text::after {
    content: '';
    width: 6rem;
    height: 3px;
    display: block;
    background-color: white;
    margin: 4rem auto 0 auto;
}

.content__text--sub {
    font-family: "Kaushan Script", cursive;
    color: white;
    font-size: 4rem;
    font-weight: 400;
}

.content__text--main {
    font-family: 'Montserrat', sans-serif;
    font-size: 8rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}

.btn {
    padding: 1.2rem 2.8rem;
}

.btn-outline-white {
    border: 3px solid white;
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* laptop */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .header {
        grid-template-columns: 1fr [content-start] minmax(min-content, 100rem)  [content-end] 1fr;
    }

    .content__text {
        width: 60%;
    }
}

/* tablet portaint */
@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        grid-template-columns: 1fr [content-start] minmax(min-content, 90rem)  [content-end] 1fr;
    }

    .content__text {
        width: 60%;
    }
}

/* mobile land*/
@media (min-width: 481px) and (max-width: 767px) {
    .header {
        grid-template-columns: 1fr [content-start] minmax(min-content, 70rem)  [content-end] 1fr;
    }

    .header__menu .nav {
        display: none;
    }

    .content__text {
        width: 60%;
    }

    .nav-icon {
        display: block;
    }
    
}

/* mobile */
@media (max-width: 480px) {
    .header {
        grid-template-columns: 1fr [content-start] minmax(min-content, 45rem)  [content-end] 1fr;
    }

    .header__menu .nav {
        display: none;
    }

    .content__text {
        width: 100%;
    }

    .nav-icon {
        display: block;
    }
}