:root {
    --color-primary: #f38181;
    --color-primary-light: #fce38a;
    --color-blue-light: #95e1d3;
    --color-black: #333333;
    --color-black-light: #999;
    --color-grey: #b6b6b6;
    --color-grey-1: #e5e5e5;
    --color-grey-dark: #ccc;
    --color-grey-light: #f8f8f8;
    --color-blue-light-2: #b5eae0;
}